<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734344968620-o1vl428mbvregbsujr25f6i7cu5aql36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734344968620-o1vl428mbvregbsujr25f6i7cu5aql36</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>734344968620-04hs327mom4p71ec5tatdbh418j46ujt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmYFlkNst4ayCNWR3cx2NwKqAPXV6Y-HQ</string>
	<key>GCM_SENDER_ID</key>
	<string>734344968620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wyretrade</string>
	<key>PROJECT_ID</key>
	<string>rideshare-14b25</string>
	<key>STORAGE_BUCKET</key>
	<string>rideshare-14b25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734344968620:ios:29a5484a1ca18c6856e209</string>
	<key>DATABASE_URL</key>
	<string>https://rideshare-14b25.firebaseio.com</string>
</dict>
</plist>